body {
  background-color: lightgray;
}

.titulo {
  background-size: cover;
  color: black;
}

#logo {
  height: 350px;
  width: 400px;
}

#ins {
  color: blue;
}

#truc {
  color: white;
}

#tions {
  color: red;
}

#space {
  color: blue;
}

#up {
  color: white;
}

#down {
  color: red;
}

#start-btn {
  color: black;
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
}

#start-btn:hover {
  background-image: url("../img/bandera.jpeg");
  background-size: cover;
  transform: scale(1.05);
}

#restart-btn {
  color: white;
  background-color: white;
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
}

#restart-btn:hover {
  background-image: url("../img/Xocas.png");
  color: red;
  transform: scale(1.05);
}

#game-over-img {
  height: 500px;
  width: 800px;
  padding-left: 160px;
}

.container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  margin: 50px;
}

#game-screen {
  height: 700px;
}

#game-box {
  background-color: gray;
  width: 800px;
  height: 600px;
  position: relative;
  overflow: hidden;
  user-select: none;

  background-image: url("../img/desierto.jpg");
  background-position: center;
  background-size: cover;
}

#kills {
  position: absolute;
  color: rgba(128, 32, 32, 0.926);
  top: 40px;
  left: 380px;
  width: 100px;
  height: 40px;
}

#kills-points {
  position: absolute;
  color: rgba(128, 32, 32, 0.926);
  top: 40px;
  left: 500px;
  width: 100px;
  height: 40px;
}

#corazon {
  position: absolute;
  top: 65px;
  left: 70px;
  width: 30px;
  height: 30px;
}

#corazon2 {
  position: absolute;
  top: 65px;
  left: 100px;
  width: 30px;
  height: 30px;
}

#corazon3 {
  position: absolute;
  top: 65px;
  left: 130px;
  width: 30px;
  height: 30px;
}

#game-box * {
  pointer-events: none;
}

#game-screen,
#game-over {
  display: none;
}
