body {
  background-color: lightgray;
}

.titulo {
  text-align: center;
  background-color: aqua;
  background-size: cover;
  color: black;
  padding: 100px;
}

#start-btn {
  color: black;
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
}

#start-btn:hover {
  background-image: url("../img/bandera.jpeg");
  background-size: cover;
  transform: scale(1.05);
}

#restart-btn {
  color: black;
  text-align: center;
  height: 100px;
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
}
#restart-btn:hover {
  background-image: url("../img/Xocas.png");
  color: red;
  transform: scale(1.05);
}

#game-over-img {
  height: 500px;
  width: 800px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: gray;
  width: 800px;
  height: 600px;
  position: relative;
  /* overflow: hidden; */
  user-select: none;

  background-image: url("../img/desierto.jpg");
  background-position: center;
  background-size: cover;
}

#game-box * {
  pointer-events: none;
}

#game-screen,
#game-over {
  display: none;
}
